body {
    background-color: #2B2C3A;
    color: white;
    font-family: 'Jost', sans-serif;
}

a:focus {
    outline-style: none;
}

.logo {
    height: 37px;
    padding-left: 30px;
    padding-top: 19px;
}

.menu-left {
    width: 280px;
    background-color: rgba(156, 165, 236, 0.04);
    position: fixed;
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-list {
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 207px;
    border-top: 1px solid #404251;
    border-bottom: 1px solid #404251;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.menu-list__item {
    margin-bottom: 13px;
}

.menu-list__link {
    text-decoration: none;
    color: white;
}

.submenu {
    display: none;
    padding-top: 33px;
}

.active {
    display: block;
}

.submenu__item {
    padding: 15px 0;
    margin-left: 23px;
}

.submenu__item:hover {
    border-left: 3px solid #6F6EFF;
    margin-left: -30px;
    background-color: #353747;
    padding-left: 50px;
}

.submenu__item_html-css::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/HTML-CSS.svg');
    width: 18px;
    height: 18px;
}

.submenu__item_git::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/GIT.svg');
    width: 12px;
    height: 18px;
}

.submenu__item_js::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/JavaScript.svg');
    width: 14px;
    height: 18px;
}

.submenu__item_react::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/React.svg');
    width: 12px;
    height: 17px;
}

.submenu__item_angular::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/Angular.svg');
    width: 16px;
    height: 18px;
}

.submenu__item_data::before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    background-image: url('./img/Data.svg');
    width: 16px;
    height: 16px;
}

.submenu__link {
    color: #979797;
    text-decoration: none;
    text-transform: none;
}

.submenu__link:hover {
    color: white;
}

.link-submenu::after {
    content: '';
    display: inline-block;
    background: url('./img/arrow.svg') no-repeat;
    width: 10px;
    height: 6px;
    margin-left: 150px;
    transform: rotate(180deg);
}

.link-submneu_open::after {
    content: '';
    display: inline-block;
    background: url('./img/arrow.svg') no-repeat;
    width: 10px;
    height: 6px;
    margin-left: 150px;
    transform: rotate(0deg);
}

.mailing-list {
    padding-bottom: 37px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 19px;
}

.mailing-list__text {
    color: #979797;
    align-self: center;
}

.btn-switch {
    display: inline-block;
    width: 42px;
    height: 22px;
    border-radius: 15px;
    z-index: 0;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    border: 2px solid rgba(227, 227, 227, 0.2);
}

.btn-switch::after {
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 15px;
    background: #6F6EFF;
    top: 3px;
    left: 3px;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
}

.checked {
    background: transparent;
}

.checked::after {
    left: 23px;
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #2b2c3a;
    z-index: 2;
}

.logo__header {
    width: 280px;
    height: 71px;
    background-color: #2f3142;
    border-bottom: 1px solid #3d3e4a;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    border-bottom: 1px solid #3d3e4a;
    flex-grow: 1;
    height: 71px;
}

.main-menu {
    display: flex;
    border-right: 1px solid #3d3e4a;
    margin-left: 55px;
    height: 24px;
    align-self: center;
}

.main-menu__item {
    margin-right: 28px;
}

.main-menu__link {
    color: #979797;
    text-decoration: none;
}

.topbar {
    display: flex;
    align-self: center;
}

.topbar__block {
    margin-right: 10px;
    height: 24px;
    border-radius: 5px;
    background-color: #3d3e4a;
    padding: 3px 9px;
    line-height: 20px;
}

.topbar__block_energy {
    display: flex;
}

.topbar__block_energy::before {
    content: '';
    background-image: url('./img/energy.svg');
    width: 33px;
    height: 24px;
    display: inline-block;

}

.topbar__avatar {
    margin-right: 13px;
}

.info-account {
    margin-right: 15px;
}

.info-account__name {
    margin-bottom: 9px;
}

.info-account__status {
    color: #24CB8D;
}

.info-account__status::before {
    content: '';
    background-image: url('./img/Oval.svg');
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
    display: inline-block;
}

.topbar__pro {
    text-transform: uppercase;
    width: 40px;
    height: 14px;
    background-color: #6F6EFF;
    padding: 3px 11px 6px 8px;
    border-radius: 4px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content {
    padding-left: 335px;
    padding-top: 112px;
    padding-right: 55px;
}

.course-name__subtitle {
    color: #979797;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 11px;
}

.course-name__title {
    text-transform: uppercase;
    font-size: 22px;
}

.carousel-control__button {
    border-radius: 4px;
    border: none;
    height: 30px;
    padding: 7px 12px 6px 13px;
    background-color: #6f6eff;
    color: white;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
}

.carousel-control__button_arrow {
    border: 1px solid #50505c;
    background-color: transparent;
    color: white;
    padding: 10px 12px;
    line-height: 0px;
}

.carousel-control__button_prev {
    margin-right: 5px;
}

.carousel-control__button_arrow::after {
    content: '';
    background-image: url('./img/arrow-prev.svg');
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
    display: inline-block;
}

.carousel-control__button_prev::after {
    background-image: url('./img/arrow-prev.svg');
}

.carousel-control__button_next::after {
    background-image: url('./img/arrow-next.svg');
}

.slider {
    display: flex;
    margin-bottom: 60px;
}

.slide {
    width: 255px;
    height: 294px;
    background-color: #363745;
    border-radius: 7px;
    margin-right: 11px;
}

.slide__img {
    margin-bottom: 15px;
}

.slide-info {
    border-bottom: 1px solid #404251;
    padding-bottom: 33px;
    margin-bottom: 16px;
}

.slide-info__title {
    padding-left: 15px;
    margin-bottom: 10px;
}

.slide-info__paragraph {
    color: #979797;
    padding-left: 15px;
    font-size: 14px;
    height: 18px;
}

.slide-additional {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.slide-additional__date {
    line-height: 30px;
}

.slide-additional__button {
    border-radius: 4px;
    border: none;
    height: 30px;
    padding: 7px 12px 6px 13px;
    background-color: #6f6eff;
    color: white;
    margin-right: 10px;
    font-size: 12px;
}

.slide__label {
    position: absolute;
    background-color: #6f6eff;
    border-radius: 3px;
    padding: 4px 5px 4px 6px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 15px;
}

.active-filter {
    background-color: #24cb8d;
}